<mat-card class="card-list">
  <mat-list>
    <h3 mat-subheader>Liste d'articles</h3>
    <mat-list-item *ngFor="let article of listArticles">
      <mat-icon mat-list-icon>note</mat-icon>
      <h4 mat-line>{{article.titre}}</h4>
      <h5 mat-line> {{article.auteur}}</h5>
      <p mat-line> {{article.contenu}}</p>
      <!-- <button mat-button routerLink="../{{article.id}}" [queryParams]=getArticleById(article.id)>Détail</button> -->
      <button mat-button routerLink="../{{article.id}}">Détail</button>
      <mat-divider></mat-divider>
    </mat-list-item>
  </mat-list>
</mat-card>