<mat-card class="card-list">
  <mat-list>
    <h3 mat-subheader>Article numéro : {{id}}</h3>
    <mat-list-item *ngIf="article">
      <mat-icon mat-list-icon>note</mat-icon>
      <h4 mat-line> Titre : {{article.titre}}</h4>
      <h5 mat-line>Auteur : {{article.auteur}}</h5>
      <p mat-line>Contenu :  {{article.contenu}}</p>
    </mat-list-item>
  </mat-list>
</mat-card>

