<mat-card class="card-list">
  <h3 mat-subheader>Ajouter un article</h3>
<form class="example-container" [formGroup]="form" (ngSubmit)=addArticle(form.value)>
  <mat-form-field>
    <input matInput type="text" placeholder="titre" formControlName="titre">
  </mat-form-field>

  <mat-form-field>
    <input matInput type="text" placeholder="auteur" formControlName="auteur">
  </mat-form-field>

  <mat-form-field>
    <input matInput type="text" placeholder="contenu" formControlName="contenu">
  </mat-form-field>

  <button mat-button type="submit">Ajouter</button>
</form>
</mat-card>
